/* centralizar */
body {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 52%;
    margin-top: -100px;
    margin-left: -100px;
    background: #141414;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    position: relative;
    border: 2px solid #007796;
    background: transparent;
}

.btn::before {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease;
    content: '';
    position: absolute;
    background: #007796;
}

.btn:hover::before {
    width: 100%;
}
